.form {
  /* color: black; */
  padding-top: 10%;
  margin-bottom: 5%;
  position: sticky;
  display: flex;
  /* top: 0; */
  z-index: 100;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border-bottom: 1px solid black; */
}

.text {
  color: black;
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.button {
  color: black;
  padding: 10px 16px;
  border-radius: 30px;
  border-color: rgb(255, 255, 255, 0);
  width: 120px;
  cursor: pointer;
  background-color: rgb(162, 11, 175);
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.inputButtonContainer {
  display: flex;
  flex-direction: row;
}

.input {
  padding: 8px;
  margin-right: 5px;
  border-radius: 30px;
  border-color: rgb(255, 255, 255, 0);
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ecebeb;
}

.allTypes {
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
}

/* .typesContainer { */
/* text-decoration: none; */
/* } */

.eachType {
  border: 1px solid rgb(162, 11, 175);
  border-radius: 30px;
  padding: 10px 20px;
  background-color: rgb(162, 11, 175);
}

.inputTypesContainer {
  display: flex;
  flex-direction: column;
}

.active {
  border: 1px solid #eee;
  background-color: #eee;
}
