.goal {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  border-radius: 25px;
  width: 75%;
  /* border-bottom: 1px solid #ddd; */
  font-size: 18px;
  transition: background-color 0.2s ease;
  color: black;
  font-size: 22px;
}

.list {
  list-style: none;
  text-align: left;
  margin-left: 15%;
}

.goal:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.completed .goalText {
  text-decoration: line-through;
  color: gray;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  margin-right: 17px;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  border: 2px solid #306169;
  font-size: 14px;
  color: white;
  background-color: white;
  transition: background-color 0.3s ease;
}

.checked {
  background-color: #51919e;
  border-color: #306169;
  color: white;
  font-size: 18px;
}

.delete {
  margin-right: 0;
  margin-left: 15px;
  font-size: 15px;
  color: rgb(66, 66, 66);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.delete:hover {
  color: #306169;
  font-weight: bold;
  transition: transform 1s ease;
}

.pencil {
  display: flex;
  color: gray;
  margin-left: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

.pencil:hover {
  color: #306169;
}
