.allMatrix {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
}
.upperRow {
  display: flex;
  flex-direction: row;
  color: white;
}

.bottomRow {
  display: flex;
  flex-direction: row;
  color: white;
}

.eachBox {
  padding: 50px;
  width: 60%;
  border: 1px solid rgb(162, 11, 175);
  text-decoration: none;
  color: white;
}
