.allMatrix {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.upperRow,
.bottomRow {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.eachBox {
  flex: 1;
  border: 2px solid #ccc;
  color: black;
  font-weight: 600;
  padding: 1rem;
  border-radius: 8px;
  list-style: none;
  min-height: 150px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}

.goal {
  color: rgb(41, 40, 40);
  margin: 0.5rem 1rem;
  list-style: circle;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #e6e5e5;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 85%;
}

.goal:hover {
  background-color: #ccc;
  border: 1px solid #ccc;
}

.active {
  text-decoration: line-through;
}
