.form {
  color: black;
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 100;
  /* border-bottom: 1px solid black; */
}

.text {
  color: black;
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.button {
  color: black;
  padding: 16px 16px;
  border-radius: 30px;
  width: 120px;
  cursor: pointer;
  background-color: rgb(162, 11, 175);
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.inputButtonContainer {
  display: flex;
  flex-direction: row;
}

.input {
  padding: 8px;
  margin-right: 5px;
  border-radius: 30px;
  border-color: 1px solid gray;
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ecebeb;
}
.goalsWrapper {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 0 auto;
  overflow-y: auto;
  /* border: 1px solid #ddd; */
  border-radius: 26px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
}
.header {
  display: inline-block;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
  color: rgb(162, 11, 175);
  border-bottom: 1px solid rgb(162, 11, 175);
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
